.body_class {
  width: 1440px;
  height: 1162px;
  background: rgb(4, 7, 16);
  font-family: 'Lucida Grande';
  font-weight: normal;
}
.greenBadge {
  font-size: 100%;
  font-weight: 400;
  width: 80px;
  background-color: rgb(48, 204, 91);
}
.customBadge {
  font-size: 100%;
  font-weight: 400;
}
.sortableHeader {
  cursor: pointer;
}

.mention {
  width: 85px;
  height: 19px;
  color: #7b44c7;
  font-family: 'Lucida Grande';
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  
}
.delta {
  width: 37.52px;
  height: 17px;
  color: #30cc5b;
  /* font-family: Roboto; */
  font-family: 'Lucida Grande';
  font-size: 14px;
  font-weight: 400;
  /*line-height: 17px;*/
}

.fromlastqu {
  width: 100px;
  height: 19px;
  color: #d8d8d8;
  /*font-family: "SFProText-Regular";*/
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}
.sentiment {
  width: 36.21px;
  height: 22px;
  color: #30cc5b;
  /* font-family: Roboto; */
  font-family: 'Lucida Grande';
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.seachBox {
  width: 250px;
  color: rgb(76, 76, 76);
  background-color: rgb(12, 16, 29);
  border: 0;
}
.ttopic {
  color: #d8d8d8;
  font-family: "SFProText-Regular";
  font-size: 18px;
  font-weight: 400;
}
.cardHeader {
  background-color: rgb(18, 24, 42);
  /* font-family: Roboto; */
  font-family: 'Lucida Grande';
}
.table-back-color {
  color: rgb(12, 16, 29);
}
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .fa {
  left: 0px;
}
.right-addon .fa {
  right: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}

input[type="range"] {
  overflow: hidden;
  width: 100px;
  -webkit-appearance: none;
  background-color: rgb(0, 255, 0);
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  -webkit-appearance: none;
  margin-top: -1px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 4px;
  height: 15px;
  background: rgb(33, 40, 56);
  cursor: pointer;
  box-shadow: -100px 0 0 100px rgb(255, 0, 0);
}
